*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.nav-logo{
    height: 50px;
    width: 100px;
    margin: 5px; 
    /* margin-right: 40px; */
}
.logo{
    height: 50px;
    width: 100px;
    background-image: url(amazon_logo.png);
    background-size: cover;
     margin-right: 40px;

    
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 0.5px solid white;
}

/** box2 **/
.add-icon{
    display: flex;
}
.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 18px;
}
.add-second{
    font-size: 1rem;
    margin: 3px;
}

/** box3 **/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    border: none;
}
.search-select{
    width: 50px;
    padding-right: 5px;
    text-align: center;
    background-color: #f3f3f3;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    color: black;
}
.nav-search:hover{
    border: 2px solid orange;

}
/** box 4 **/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/** box 6 **/
.nav-card i{
    font-size: 28px;
}
.nav-card{
    font-size: 0.85rem;
    font-weight: 700;
}

/** Panel CSS **/
.panel{
    height: 40px;
    color: white;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 20px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
    margin-right: 60px;
}
.panel-deals{
    font-size: 0.85rem;
    font-weight: 700;
}
/** Hero section **/
.hero-section{
    height: 380px;
    background-image: url(hero_image.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-msg{
    height: 40px;
    width: 80%;
    background-color: white;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
.hero-msg a{
    color: #007185;
}

/** shop section **/
.shop-section{
    display: flex;
    flex-wrap: wrap; /** IMp **/
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    /* border: 2px solid black; */
    padding: 20px 0px 15px;
    background-color: white;
    margin-top: 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
    color: #007185;
}
/** Footer **/
footer{
    margin-top: 25px;
}
.foot-panel1{
    height: 50px;
    color: white;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.foot-panel2{
    height: 400px;
    color: white;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
}
ul p{
    margin-top: 30px;
    font-weight: 900px;
    font-style: bold;
}
.foot-panel2 ul a{
    display: block;
    color: #dddddd;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 10px;
}
.foot-panel3{
    height: 70px;
    background-color: #222f3d;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    height: 50px;
    width: 100px;
    background-image: url(amazon_logo.png);
    background-size: cover;
}
.foot-panel4{
    height: 100px;
    background-color: #0f1111;
    color: white;
    /* margin-top: 20px; */
}
.pages{
    font-size: 0.8rem;
    text-align: center;
    /* color: white;
    text-decoration: none; */
    padding-top: 20px;
}
a{
    color: white;
    text-decoration: none;
}
.copyright{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;
}